<main
  class='flex flex-col h-auto mx-auto bg-white shadow-lg rounded-md overflow-hidden'
>
  <div
    class="relative w-screen h-[30rem] bg-[url('/images/eugene-chystiakov-3HltpNx6ZSA-unsplash.jpg')] bg-cover bg-bottom"
  >
    <p
      class='absolute right-0 bottom-0 p-12 text-2xl text-white font-extrabold tracking-wide'
    >Photo by Eugene Chystiakov</p>
    <img
      class='absolute inset-x-0 mx-auto w-[30rem] top-[2.5rem]'
      src='/images/search.png'
    />
  </div>

  <div class='flex flex-col w-[100vw] mt-12'>
    <div class='flex gap-6 xl:w-[70%] mx-auto py-12 h-[30vh] overflow-x-auto'>
      <p class='justify-self-end text-4xl text-black px-6'>Nearby users:</p>
      {{#each usersInTheSameCity}}
        <div class='flex flex-shrink-0'>
          <div
            class='relative flex flex-col w-[20rem] max-h-[20rem] bg-white rounded-2xl shadow-2xl'
          >
            <a
              action='/user/{{this.dataValues.id}}'
              href='/user/{{this.dataValues.id}}'
            >
              <img
                src='{{this.dataValues.userPicture}}'
                alt='User Profile Image'
                class='min-w-[20rem] w-[100%] mx-auto rounded-3xl mb-4 brightness-75 hover:brightness-100'
              />
            </a>
            <div class='absolute bottom-0 right-0'>
              <a
                class=''
                action='/user/{{this.dataValues.id}}'
                href='/user/{{this.dataValues.id}}'
              >
                <h3
                  class='px-2 text-2xl text-white font-bold tracking-wide'
                >{{this.dataValues.user_name}}</h3>
              </a>
              <a
                class='float-right px-2'
                action='/user/{{this.dataValues.id}}'
                href='/user/{{this.dataValues.id}}'
              >
                <h4
                  class='p-2 text-white text-xl font-bold tracking-wide'
                >{{this.dataValues.city}}, {{this.dataValues.state}}</h4>
              </a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  <div class='flex flex-col w-[100vw] mt-12'>
    <div class='flex gap-6 xl:w-[70%] mx-auto py-12 h-[30vh] overflow-x-auto'>
      <p class='justify-self-end text-4xl text-black px-6'>Trending:</p>
      {{#each trendingPictures}}
        <a
          action='/pets/{{this.pet_id}}/{{this.picture_id}}'
          href='/pets/{{this.pet_id}}/{{this.picture_id}}'
        >
          <div class='w-[20rem] h-[20rem] rounded-2xl shadow-2xl'>

            <img class='w-auto h-auto' src='{{this.pictureUrl}}' alt='' />
          </div>
        </a>
      {{/each}}

    </div>
  </div>
</main>