<main class='w-[90vw] h-auto py-12'>
  <div
    class='flex flex-col mx-auto w-[100%] sm:w-[80%] md:w-[70%] lg:w-[50%] xl:w-[50%] h-[90vh]'
  >
    <form action='/settings' method='POST'>
      <div class='border-b border-gray-900/10 pb-12'>
        <h2 class='text-base font-semibold leading-7 text-gray-900'>Personal
          Information</h2>
        <div class='mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6'>
          <div class='sm:col-span-4'>
            <label
              for='phone_number'
              class='block text-xl font-medium leading-6 text-gray-900'
            >Phone Number</label>
            <div class='mt-2'>
              <input
                id='phone_number'
                name='phone_number'
                type='number'
                placeholder='{{this.phone_number}}'
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>

          <div class='sm:col-span-4'>
            <label
              for='pronoun'
              class='block text-xl font-medium leading-6 text-gray-900'
            >Pronoun</label>
            <div class='mt-2'>
              <input
                id='pronoun'
                name='pronoun'
                type='text'
                placeholder='{{this.pronouns}}'
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>

          <div class='sm:col-span-2 sm:col-start-1'>
            <label
              for='city'
              class='block text-xl font-medium leading-6 text-gray-900'
            >City</label>
            <div class='mt-2'>
              <input
                type='text'
                name='city'
                id='city'
                placeholder='{{this.city}}'
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>

          <div class='sm:col-span-2'>
            <label
              for='state'
              class='block text-xl font-medium leading-6 text-gray-900'
            >State / Province</label>
            <div class='mt-2'>
              <input
                type='text'
                name='state'
                id='state'
                placeholder='{{this.state}}'
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>

        </div>
      </div>

      <div class='border-b border-gray-900/10 pb-12'>
        <h2 class='text-base font-semibold leading-7 text-gray-900'>Social Media</h2>
        <p class='mt-1 text-xl leading-6 text-gray-600'>Optional ways users
          could contact you.</p>
        <div class='mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6'>
          <div class='sm:col-span-4'>
            <label
              for='twitter'
              class='block text-xl font-medium leading-6 text-gray-900'
            >Twitter</label>
            <div class='mt-2'>
              <input
                id='twitter'
                name='twitter'
                type='twitter' placeholder="{{this.twitter}}"
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>

          <div class='sm:col-span-4'>
            <label
              for='facebook'
              class='block text-xl font-medium leading-6 text-gray-900'
            >Facebook</label>
            <div class='mt-2'>
              <input
                id='facebook'
                name='facebook'
                type='facebook' placeholder="{{this.facebook}}"
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>

          <div class='sm:col-span-4'>
            <label
              for='instagram'
              class='block text-xl font-medium leading-6 text-gray-900'
            >Instagram</label>
            <div class='mt-2'>
              <input
                id='instagram'
                name='instagram'
                type='instagram' placeholder="{{this.instagram}}"
                class='text-xl block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-xl sm:leading-6'
              />
            </div>
          </div>
        </div>
      </div>

      <div class='mt-6 flex items-center justify-end gap-x-6'>
        <a
          href='/user'
          class='text-xl font-semibold leading-6 text-gray-900'
        >Cancel</a>
        <button
          type='submit'
          class='rounded-md bg-indigo-600 px-3 py-2 text-xl font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600'
        >Save</button>
      </div>
    </form>
  </div>
</main>